<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="login-screen">
    <div class="login-box">
        <h1>🔒 Acesso</h1>
        <form method="POST">
            <input type="password" name="senha" placeholder="Digite a senha" required autofocus>
            <br>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>